extends layout
block content
	.page-header 
		h1(align='center') Quizzes #{title}
	.row
		.col-md-12
			button.btn.btn-success.btn-lg(data-toggle='modal', data-target='#Tests') add Test
			#Tests.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
				.modal-dialog
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal')
								span(aria-hidden='true') ×
								span.sr-only Close
							h4#myModalLabel.modal-title(align='center') Create Test
						.modal-body
							form(role='form' method='POST')
								.form-group
									label(for='name') Test name
									input#testsName.form-control(type='text', placeholder='Enter Test Name')
								.form-group
									label(for='images') Image For Test
									input#testsImage(type='file')
							.alert#createTests
						.modal-footer
							button.btn.btn-primary#addTests(type='submit') Add Test
							button.btn.btn-default(type='button', data-dismiss='modal') Close
	.row
		.col-md-12#Tests
			ul.list-inline
				- for (var i in tests) {
					li.col-md-2
						img(src='#{tests[i].url}')
						button.btn.btn-success.btn-block.add(name='#{tests[i].name}') Add Questions 
						button.btn.btn-warning.btn-block.change(name='#{tests[i].name}') Change Questions
						button.btn.btn-danger.btn-block.delete(name='#{tests[i].name}') Delete Test
				- }
					
					



	script.
		$('#addTests').on('click',function(e){
			e.preventDefault();
			var testsName=$("#testsName").val();
			var testsImage=$("#testsImage").val().split("\\");
			testsImage="/images/"+testsImage[testsImage.length-1];
			if(testsName==""||testsImage==""){
				$("#createTests").addClass("alert-danger");
				$("#createTests").html("Fill all fields");				
			}else{
				$.post('/admin',{name:testsName,url:testsImage},function(data){
					if(data.success){
						$("#createTests").removeClass("alert-danger");
						$("#createTests").addClass("alert-success");
						$("#createTests").html(data.text);
						$("#addTests").addClass("disabled");
						setTimeout(function(){
							window.location='/admin';
						},500);
					}else{
						$("#createTests").addClass("alert-danger");
						$("#createTests").html(data.text);	
					}
				});
			}
		});


		//add questions
		$(".add").on('click',function(){
			alert($(this).attr('name'))
		});

		//change question
		$(".change").on('click',function(){
			//- alert($(this).attr('name'))

		});

		//delete test
		$(".delete").on('click',function(){
			$.ajax({
				url:'/admin/'+$(this).attr('name'),
				type:"DELETE",
				success:function(result){
					location.reload();
				}
			})
		})
